<div class="container">
<h2>About Page</h2>
<p>Trip reports from 2017 climbing season</p>
{{#link-to 'contact'}}Click here to contact me.{{/link-to}} |
{{#link-to 'index'}}Return to Main Page{{/link-to}}
</div>
