<nav>
  <div class="nav-wrapper">
    <a class="brand-logo">{{#link-to 'index'}}Climbing Blog{{/link-to}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>{{#link-to 'about'}}About{{/link-to}}</li>
      <li>{{#link-to 'contact'}}Contact{{/link-to}}</li>
    </ul>
  </div>
</nav>
<div class="container">
  {{outlet}}
</div>
